NEXT_PUBLIC_API_URL=http://localhost:4001/api/v1

# Map kiibee.dk/media/... thumbnails & avatars to DigitalOcean bucket
# NEXT_PUBLIC_MEDIA_CDN_URL=https://your-bucket.your-region.digitaloceanspaces.com
# NEXT_PUBLIC_MEDIA_CDN_STRIP_PREFIX=media
